flow.json
[{"id":"87df8c23.0d1e7","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"eb31d800.64bc68","type":"ui_form","z":"87df8c23.0d1e7","name":"","label":"","group":"332e3ced.ae6a64","order":0,"width":0,"height":0,"options":[{"label":"Year\t","value":"a","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"b","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"c","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"d","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"e","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"f","type":"number","required":true,"rows":null},{"label":"Measles ","value":"g","type":"number","required":true,"rows":null},{"label":" BMI ","value":"h","type":"number","required":true,"rows":null},{"label":"under-five deaths ","value":"i","type":"number","required":true,"rows":null},{"label":"Polio","value":"j","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"k","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"l","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"m","type":"number","required":true,"rows":null},{"label":"GDP","value":"n","type":"number","required":true,"rows":null},{"label":"Population","value":"o","type":"number","required":true,"rows":null},{"label":" thinness  1-19 years","value":"p","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years","value":"q","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"r","type":"number","required":true,"rows":null},{"label":"Schooling","value":"s","type":"number","required":true,"rows":null},{"label":"Developed","value":"t","type":"number","required":true,"rows":null},{"label":"Developing","value":"u","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":160,"wires":[["9d5930b1.cba86"]]},{"id":"9d5930b1.cba86","type":"function","z":"87df8c23.0d1e7","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\n\n\n//following are required to receive a token\nvar apikey=\"nscofHcfMEQc3XaZbTtC_qbYsQyQQ-BYDsj8l6o3hv0n\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":140,"wires":[["a37c5e2e.8b31b"]]},{"id":"a37c5e2e.8b31b","type":"http request","z":"87df8c23.0d1e7","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":490,"y":180,"wires":[["fc856bf8.5c1478"]]},{"id":"fc856bf8.5c1478","type":"function","z":"87df8c23.0d1e7","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"ea1c6d99-fa13-4559-96e7-12b843b19ca4\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Year\", 'Adult Mortality', 'infant deaths',\n'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',\n'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',\n' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years',\n' thinness 5-9 years', 'Income composition of resources', 'Schooling',\n'Developed', 'Developing'],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":260,"wires":[["f9d458da.83ffe8"]]},{"id":"f9d458da.83ffe8","type":"http request","z":"87df8c23.0d1e7","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/ea1c6d99-fa13-4559-96e7-12b843b19ca4/deployments/af923b5b-ded6-4bf6-b591-a52b8da05103/online","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":280,"wires":[["ad74ad82.14def","f7b40146.3208c"]]},{"id":"ad74ad82.14def","type":"debug","z":"87df8c23.0d1e7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":300,"wires":[]},{"id":"f7b40146.3208c","type":"function","z":"87df8c23.0d1e7","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":400,"wires":[["11da9097.22477f","48a2875e.5028e8"]]},{"id":"11da9097.22477f","type":"debug","z":"87df8c23.0d1e7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":400,"wires":[]},{"id":"48a2875e.5028e8","type":"ui_text","z":"87df8c23.0d1e7","group":"332e3ced.ae6a64","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":520,"wires":[]},{"id":"332e3ced.ae6a64","type":"ui_group","z":"","name":"Default","tab":"c24f06e3.7f2378","order":1,"disp":true,"width":"6","collapse":false},{"id":"c24f06e3.7f2378","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]