flows.json
[{"id":"1906c507.afe45b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f7ffcc5.359453","type":"function","z":"1906c507.afe45b","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\n\n\n//following are required to receive a token\nvar apikey=\"nscofHcfMEQc3XaZbTtC_qbYsQyQQ-BYDsj8l6o3hv0n\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["952b3458.8e8238"]]},{"id":"347e069f.80071a","type":"http request","z":"1906c507.afe45b","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/ea1c6d99-fa13-4559-96e7-12b843b19ca4/deployments/24bdccf5-4fbd-48b3-808f-82ea5160611d/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["8564c5f8.aa06a8","7ebe569a.9be8e8"]]},{"id":"7cd1a7a.922e358","type":"debug","z":"1906c507.afe45b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":280,"wires":[]},{"id":"7ebe569a.9be8e8","type":"function","z":"1906c507.afe45b","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["7cd1a7a.922e358","9b04ec65.48e96"]]},{"id":"8564c5f8.aa06a8","type":"debug","z":"1906c507.afe45b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"3c5e7b8f.cccbc4","type":"function","z":"1906c507.afe45b","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"ea1c6d99-fa13-4559-96e7-12b843b19ca4\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Year\", 'Adult Mortality', 'infant deaths',\n'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',\n'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',\n' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years',\n' thinness 5-9 years', 'Income composition of resources', 'Schooling',\n'Developed', 'Developing'],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["347e069f.80071a"]]},{"id":"952b3458.8e8238","type":"http request","z":"1906c507.afe45b","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["3c5e7b8f.cccbc4"]]},{"id":"9b04ec65.48e96","type":"ui_text","z":"1906c507.afe45b","group":"332e3ced.ae6a64","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":400,"wires":[]},{"id":"745b8559.608d6c","type":"ui_form","z":"1906c507.afe45b","name":"","label":"","group":"332e3ced.ae6a64","order":0,"width":0,"height":0,"options":[{"label":"Year\t","value":"a","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"b","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"c","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"d","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"e","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"f","type":"number","required":true,"rows":null},{"label":"Measles ","value":"g","type":"number","required":true,"rows":null},{"label":" BMI ","value":"h","type":"number","required":true,"rows":null},{"label":"under-five deaths ","value":"i","type":"number","required":true,"rows":null},{"label":"Polio","value":"j","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"k","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"l","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"m","type":"number","required":true,"rows":null},{"label":"GDP","value":"n","type":"number","required":true,"rows":null},{"label":"Population","value":"o","type":"number","required":true,"rows":null},{"label":" thinness  1-19 years","value":"p","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years","value":"q","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"r","type":"number","required":true,"rows":null},{"label":"Schooling","value":"s","type":"number","required":true,"rows":null},{"label":"Developed","value":"t","type":"number","required":true,"rows":null},{"label":"Developing","value":"u","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["f7ffcc5.359453"]]},{"id":"332e3ced.ae6a64","type":"ui_group","z":"","name":"Default","tab":"c24f06e3.7f2378","order":1,"disp":true,"width":"6","collapse":false},{"id":"c24f06e3.7f2378","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]